
<h1>Third Controller</h1>



@{
    int[] nums = { 2, 3, 4, 56, 7, 78 };
}

@* <p>@foreach (var num in nums) {@num} </p> *@

<ul>
    @foreach (var num in nums) {

        <li>
                @num
            </li>
        }

</ul>


