@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    
    @if (ViewData["Names"] != null)
    {
        <ul>
            @foreach (var name in (List<string>)ViewData["Names"])
            {
                <li>@name</li>
            }
    

        </ul>
    }
    else
    {
        <p>No Items Found!</p>
    }


    @if (ViewBag.city != null)
    {
        <h3>City: @ViewBag.city</h3>
    }




    @if (TempData["message"] != null)
    {
        <div class="alert alert-primary text-center" role="alert">
            @TempData["message"]
        </div>
    }

</div>
