@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<p>Use this page to detail your site's privacy policy.</p>



@if (TempData["message"] != null)
{
    <div class="alert alert-primary text-center" role="alert">
        @TempData["message"]
    </div>
}